
<style>
body {
    /*background-image: url('https://static.pexels.com/photos/34950/pexels-photo.jpg');*/
    /*background-size:cover;*/
}
.bubble {
    border: 1px solid;
    border-radius: 16px;
    /*white-space: pre;*/
    padding:4px 14px 4px 14px;
    margin: 4px;
    font-size: 120%;
    max-width:350px;
}

.bubble a {
    color:inherit;
}

.bubble img {
    max-height:350px;
    max-width:350px;
}

.bubble.bubble-me {
    border-color:#1085f9;
    background-color:#1085f9;
    color:white;
}

.bubble.bubble-other {
    border-color:lightgray;
    background-color:lightgray;
    color:black;
}

.bubble.bubble-media {
    border-color:none;
    background-color:none;
    padding:0px 0px 0px 0px;
    overflow: hidden;
}

.time-tag {
    font-size:70%;
    color:gray;
    padding-left: 7px;
    padding-right: 7px;
    margin-top:   -2px;
    margin-bottom: 4px;
}
</style>

<div ng-cloak class="container">

    <div id="chat" class="row" style="position:fixed;top:0px;right:0px;left:0px;bottom:{{inputHeight()+10}}px;overflow-y: scroll;-webkit-overflow-scrolling: touch;" >
        <div class="col-xs-12" style="height:400px;"></div>
        <div class="col-xs-12" ng-repeat="msg in chatCtrl.messages track by msg._id">
            <div ng-class="{ 'pull-left': !msg.me, 'pull-right': msg.me }">
                <div class="bubble" ng-class="{ 'bubble-other': !msg.me, 'bubble-me': msg.me, 'bubble-media': msg.media }">
                    <span ng-bind-html="::msg.text|toHtml"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="time-tag" ng-class="{ 'pull-left': !msg.me, 'pull-right': msg.me }">{{msg.date|moment:'calendar'}}</div>
        </div>
    </div>

    <div id="input" class="row" style="position:fixed;right:0px;left:0px;bottom:2px;">
        <div class="col-xs-12">
            <form ng-submit="chatCtrl.post(text); text='';" autocomplete="off">
            <div class="input-group dropup" style="position:relative">
                <span class="input-group-addon btn btn-default" style="font-size:125%" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </span>
                <span class="input-group-addon btn btn-primary" style="font-size:125%" ng-click="chatCtrl.selectPhoto()">
                    <i class="fa fa-camera"></i>
                </span>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="chatCtrl.disconnect()"><i class="fa fa-user-times" aria-hidden="true"></i> Disconnect</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" ng-click="chatCtrl.deleteAll()"><i class="fa fa-times"></i> Delete all</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" ng-click="chatCtrl.load()"><i class="fa fa-refresh" ng-class="{'fa-spin':chatCtrl.loading}"></i> Refresh</a></li>
                </ul>

                <button id="post" class="btn btn-primary" style="position:absolute;bottom:5px;right:5px;border-radius:20px;z-index:100" type="button" onmousedown="window.keepFocus=true" ng-click="chatCtrl.post(text); text='';">
                    <i ng-hide="chatCtrl.loading" class="fa fa-arrow-circle-up" ></i>
                    <i ng-show="chatCtrl.loading" class="fa fa-refresh fa-spin"></i>
                </button>

                <textarea autocomplete="off" style="height:{{inputHeight()}}px" rows="1"  ng-model="text" class="form-control input-lg" onfocus="window.keepFocus=null" onblur="if(window.keepFocus) { event.target.focus(); } window.keepFocus=null;" placeholder="Last refresh {{(date|moment:'format':'H:mm:ss')||'never'}}"></textarea>

            </div><!-- /input-group -->


            </form>
        </div><!-- /.col-lg-6 -->
    </div>
</div>
