
<style>
body {
}
.bubble {
    float: left;
    border-radius: 16px;
    overflow: hidden;
    margin: 2px
}

.bubble.me {
    float: right;
}

.bubble.text {
    border: 1px solid;

    /*white-space: pre;*/
    padding:4px 14px 4px 14px;
    margin: 4px;
    font-size: 120%;
    max-width:350px;
    border-color:lightgray;
    background-color:lightgray;
    color:black;
}

.bubble.text.me {
    border-color:#1085f9;
    background-color:#1085f9;
    color:white;
}
.bubble.emoji {
    font-size: 400%;
    border:none;
    background-color:transparent !important;
    margin-top: 0px; margin-bottom: 0px;
    padding-top: 0px; padding-bottom: 0px;
}

.bubble a {
    color:inherit;
}

.bubble img {
    max-height:350px;
    max-width:350px;
}

.bubble video {
    max-height:350px;
    max-width:350px;
}

.bubble.pending {
    opacity: 0.5;
}

.bubble.error {
    border-color:darkred !important;
    background-color:darkred !important;
    color:white;
}

.time-tag {
    clear: both;
    font-size:70%;
    color:gray;
    padding-left: 7px;
    padding-right: 7px;
    margin-top:   -2px;
    margin-bottom: 4px;
}
.time-tag.me {
    text-align: right;
}
</style>

<div ng-cloak>

    <div id="chat" style="padding-top:400px;position:fixed;top:0px;right:0px;left:0px;bottom:0px;overflow-y: scroll;-webkit-overflow-scrolling: touch;" >
        <div class="clearfix" ng-repeat="msg in chatCtrl.messages track by msg._id">

            <div class="bubble" ng-class="{ me: msg.me, text: msg.contentType=='text/plain', emoji: isAllEmoji(msg.text), pending: msg.pending&&!msg.error, error: msg.error }">
                <span ng-switch="::(msg.contentType||'text/plain').split('/')[0]">
                    <span ng-switch-when="image">
                        <a ng-href="{{::msg.text}}" target="pic">
                            <img ng-src="{{::msg.text}}">
                        </a>
                    </span>
                    <span ng-switch-when="video">
                        <video controls>
                            <source ng-src="{{::msg.text}}">
                        </video>
                    </span>
                    <span ng-switch-default ng-bind-html="::toHtml(msg.text)"></span>
                </span>

            </div>

            <div ng-if="msg.pending" class="pull-right" style="font-size: 150%;">
                <i ng-if="!msg.error" class="fa fa-fw fa-refresh fa-spin"></i>
                <i ng-if=" msg.error" class="fa fa-fw fa-arrow-circle-up" onmousedown="window.keepFocus=true" ng-click="msg.retry();"></i>
            </div>

            <div ng-if="msg.me!=chatCtrl.messages[$index+1].me || (msg.date|moment:'calendar')!=(chatCtrl.messages[$index+1].date|moment:'calendar')" class="time-tag"  ng-class="::{ me: msg.me }">{{::msg.date|moment:'calendar'}}</div>
        </div>

        <div class="clearfix" style="height:90px">&nbsp;</div>

    </div>

    <div id="input" style="position:fixed;right:0px;left:0px;bottom:0px;">
        <form autocomplete="off">
        <div class="input-group dropup" style="position:relative">
            <span class="input-group-addon" style="padding:0px;">
                <div class="btn-group-vertical btn-group-sm">
                    <button class="btn btn-link" style="font-size:125%" ng-click="chatCtrl.selectPhoto()">
                        <i class="fa fa-fw fa-camera"></i>
                    </button>

                    <button class="btn btn-link" style="font-size:125%" data-toggle="dropdown">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="chatCtrl.disconnect()"><i class="fa fa-user-times" aria-hidden="true"></i> Disconnect</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="chatCtrl.deleteAll()"><i class="fa fa-times"></i> Delete all</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="chatCtrl.load()"><i class="fa fa-refresh" ng-class="{'fa-spin':loading}"></i> Refresh</a></li>
                        <li><a href="#" ng-click="chatCtrl.limit = chatCtrl.limit ? 0 : 75">
                                <i ng-hide="chatCtrl.limit" class="fa fa-square-o"></i>
                                <i ng-show="chatCtrl.limit" class="fa fa-check-square-o"></i> Limit
                            </a>
                        </li>
                    </ul>
                </div>
            </span>

            <textarea autocomplete="off" style="height:85px;padding:2px"  ng-model="text" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }" class="form-control input-lg" onfocus="window.keepFocus=null" onblur="if(window.keepFocus) { event.target.focus(); } window.keepFocus=null;" placeholder="Last refresh {{(date|moment:'format':'H:mm:ss')||'never'}}"></textarea>

            <span class="input-group-addon" style="padding:0px;">
                <button class="btn btn-link" style="font-size:200%;padding-left:6px;padding-right:6px" onmousedown="window.keepFocus=true" ng-click="onPostOrRefresh()">
                    <i ng-show="text.trim()" class="fa fa-fw fa-arrow-circle-up" ></i>
                    <i ng-hide="text.trim()" class="fa fa-fw fa-refresh" ng-class="{'fa-spin': loading }"></i>
                </button>
            </span>
        </div><!-- /input-group -->

        </form>
    </div>
</div>
